image: docker:stable
# services:
# - docker:dind

stages:
- build
# - test
# - release

before_script:
  # - export VERSION=$(cat VERSION)
  # - export CI_REGISTRY=${CI_REGISTRY:-hub.docker.com}
  # - export CI_REGISTRY_USER=${CI_REGISTRY_USER:-gitlab-ci-token}
  # - export CI_REGISTRY_PASSWORD=${CI_REGISTRY_PASSWORD:-${CI_JOB_TOKEN}}
  # - export DOCKER_IMAGE=${DOCKER_IMAGE:-${CI_REGISTRY}/${CI_PROJECT_PATH}}
  - docker login $CI_REGISTRY -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" 

build:
  stage: build
  script:
    # - docker build --pull -t "$CI_REGISTRY_IMAGE" .
    # - docker push "$CI_REGISTRY_IMAGE"
    - docker build -t $CI_REGISTRY/achetronic/queue2db-python/image:latest .
    - docker push $CI_REGISTRY/achetronic/queue2db-python/image:latest
  # only:
  #   - master

# test:
#   stage: test
#   script:
#     - docker pull $CI_REGISTRY_IMAGE
#     - docker run $CI_REGISTRY_IMAGE npm test

# release:
#   stage: release
#   script:
#     - docker pull $CI_REGISTRY_IMAGE
#     - docker tag $CI_REGISTRY_IMAGE $RELEASE_IMAGE
#     - docker push $RELEASE_IMAGE
#   only:
#     - master




